

<!--<%= link_to 'Articles', articles_path %> -->
<!-- <%= link_to 'About us', about_path %> -->

<div class="jumbotron center">
  <h1 class="display-4" style="color: white; letter-spacing: -1px; font-weight: bold; margin-top: 20px;">ALPHA  BLOG</h1>

<hr class="my-4">
  <p class="lead">
    <%= link_to 'Sign Up Now', signup_path , class: "btn btn-primary btn-lg btn-xlarge", role: "button"%>
  </p>
</div>