@import "bootstrap";

p {
	color: white;
} 
#logo {
	font-weight: bold;
	float: left;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.7em;
	color: white;
	letter-spacing: -1px;
}

.background-colour-grey {
	background-image: asset-url('background-3.jpeg');
	border-top: 1px solid white;
}

.listing {
	list-style: none;
	padding-left: 0;
}

.rcorners4 {
  border-radius: 10px;
  padding: 20px;
  width: 230px;
  height: 15px;
  text-align: center;
  background-image: asset-url('background-2.jpeg');
}

.navbar-item-custom {
	font-weight: bold;
	float: left;
	margin-left: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
	color: white;
	letter-spacing: -0.5px;
}

.content-color {
	color: black;
}


.center {
	text-align: center
}

.jumbotron {
	border-top: 1px solid white;
	margin-top: 100px;
	background-image: asset-url('background-2.jpeg');
	background-size: cover;
	height: 600px;
}

.color-white-bold {
	color: white;
	font-weight: bold;
}
.uppercase {
	text-transform: uppercase;
}
.lowecase {
	text-transform: lowercase;	
}
.color-white {
	color: white;
}
.color-white-only-bold {
	color: white;
	font-weight: bold;
}

.btn-xlarge {
	text-align: center;
	margin-top: 40px;
	background-color: darkgreen;
	border-color: darkgreen;
	font-size: 1.7em;
}

.btn-xlarge:hover {
	background-color: lightgreen;
	border-color: lightgreen;
}

.background {
	background-color: black;
}

.footer-background {
	background-color: grey;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 30px;
    padding: 10px 0px;

  // padding: 10px 0;
  // margin-top: 120px;
  	height: 65px;
}
.footer a {
  color: white;
  font-size: 30px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: #70726F;
}

.about-link:hover {
	text-decoration: none;
	color: white;
}







