<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<footer class="footer bg-dark fixed-bottom">
  <div class="container text-center" style="align-content: center; margin-left: 750px">
  	<a href="https://www.linkedin.com/in/hitesh-sarangal-b04986135/"><i class="fa fa-linkedin"></i></a>
  	<a href="https://www.stopstalk.com/user/profile/Hitesh2023"><i class="fa fa-code" style="font-weight: bold"aria-hidden="true"></i></a>
    <a href="https://www.codechef.com/users/hitesh2023"><i class="fa fa-cc" aria-hidden="true"></i></a>
  	<a href="https://github.com/hitesh2023"><i class="fa fa-code-fork" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/hitesh.sarangal.7"><i class="fa fa-facebook"></i></a>
    
    <%= link_to "A", about_path, class: "about-link", style: "font-weight: bold" %>
    <span style="float:right; margin-left: 465px; margin-right: 0px;">
      <small class="color-white lowercase">
        <h5>
    	    Developed with <i class="fa fa-heart" style="font-size:17px;color:red"></i> by Hitesh Sarangal
        </h5>   
      </small>
    </span>

  </div>
</footer>
