<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<footer class="footer bg-dark fixed-bottom">
  <div class="container text-center">
    <a href="https://www.facebook.com/hitesh.sarangal.7"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/hiteshsarangal2"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/hitesh-sarangal-b04986135/"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-skype"></i></a>
    <%= link_to "@", about_path, class: "about-link" %>
  </div>
</footer>
