<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <%= link_to 'Alpha blog', root_path, class: "navbar-brand", id: "logo"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-item-custom">
        <%= link_to 'Articles', articles_path, class: "nav-link navbar-item-custom" %>
      </li>
      <li class="nav-item navbar-item-custom">
        <%= link_to 'Users', users_path, class: "nav-link navbar-item-custom" %>
      </li>
      <li class="nav-item dropdown navbar-item-custom">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="#">New Article</a> -->
          <%= link_to 'New Article', new_article_path, class: "dropdown-item"%>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 navbar-item-custom" style="margin-top: 6px;" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-primary my-2 my-sm-0 navbar-item-custom" style="margin-top: 10px;" type="submit">Search</button>
    </form>
  </div>
</nav>